<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ .Title }} | A Travel Blog</title>
	<meta name="description" content="{{ .Params.description }}">
	<meta name="theme-color" content="#fff">
	<link rel="canonical" href="https://www.jennajuby.com{{ .Permalink }}">

	<!-- Preconnect to CDN for faster image loads -->
	<link rel="preconnect" href="https://djh82r8xhqebh.cloudfront.net" crossorigin>
	<link rel="dns-prefetch" href="https://djh82r8xhqebh.cloudfront.net">

	<!-- Styles (self-hosted fonts included via CSS) -->
	<link rel="stylesheet" href="/css/main.css" />

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="https://djh82r8xhqebh.cloudfront.net/images/favicon.png">
	<link rel="icon" type="image/png" href="https://djh82r8xhqebh.cloudfront.net/images/favicon.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://djh82r8xhqebh.cloudfront.net/images/favicon.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#ff4400">

	<!-- Open Graph -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ .Params.description }}">
	<meta property="og:url" content="https://www.jennajuby.com{{ .Permalink }}">
	{{ if hasPrefix .Params.image "/img" }}
	<meta property="og:image" content="https://www.jennajuby.com{{ .Params.image }}">
	{{ else }}
	<meta property="og:image" content="{{ .Params.image }}">
	{{ end }}

	<!-- Pinterest -->
	<meta name="p:domain_verify" content="4d3a4728224197972051b9c85c714bed"/>
	<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-8GE904J1RC"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'G-8GE904J1RC');
	</script>
</head>